.channel {
  margin: 0 auto;
  padding: 0 15rem 0 5rem;
  max-width: 980px;
  min-width: 720px;
}

.channel__top-bar {
  margin: 0 0 1.5rem 0;
  font-family: 'Roboto', sans-serif;
}

.channel__top-bar__title {
  display: inline-block;
  margin: 0 1rem 0 0;
  font-size: 3rem;
}

.channel__top-bar__id,
.channel__top-bar__live-toggle-label {
  display: inline-block;
  
  font-size: 1.5rem;
}

.channel__top-bar__id {
  margin: 0 1rem 0 0;
}

.channel__top-bar__live-toggle,
.channel__create-or-join-new,
.channel__new-question__button {
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.channel__top-bar__live-toggle{
  margin: 0 1rem 0 0;
  color: #EF5350
}
.channel__top-bar__live-toggle:hover {
  color: #66BB6A;
  opacity: .5;
}

.channel__top-bar__live-toggle--active {
  color: #66BB6A;
}
.channel__top-bar__live-toggle--active:hover {
  color: #EF5350;
  opacity: .5;
}

.channel__top-bar__icon {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.45rem;
  cursor: pointer;
}
.channel__top-bar__icon:hover {
  fill: #0277BD;
}

.channel__new-question__button {
  font-family: 'Inconsolata', monospace;
  background: none;
  font-size: 2rem;
  padding: 0;
  border: none;
  color: #0277BD;
  margin: 0 1rem 0 0;
}
.channel__new-question__button:hover {
  color: #000;
}
.channel__new-question__button:focus {
  outline: 0;
}

.channel__new-question {
  margin: 0 0 5rem 0;
}

.channel__new-question__notification {
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  
}

.channel__new-question__textarea {
  height: 10rem;
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
  
  width: 100%;
  width: calc(100% - 4px);
  display: block;
} 

.channel__question-list {
  
  padding: 0;
  list-style: none;
}

.channel__no-questions {
  font-size: 2rem;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  
}


